body {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  color: #333;
}

form {
  text-align: center;
}
